<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888477243818-r49p1aaefd6bqrvspesf61lh74ms0bc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888477243818-r49p1aaefd6bqrvspesf61lh74ms0bc2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>888477243818-119n8tmgc2i600el41qlp4jsrr8cfh98.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiPqFkcLF7jrd5VVCxHXKoZGHBdb22MY8</string>
	<key>GCM_SENDER_ID</key>
	<string>888477243818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebtasm.fursa</string>
	<key>PROJECT_ID</key>
	<string>fursa-e92f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fursa-e92f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888477243818:ios:e5cca0c96ffd3cceba33d3</string>
</dict>
</plist>